*
{
    margin:0px auto;
    padding :0px;
    
}

:root
{
    --head:16px;
    --subhead:14px;
    --thead:12px;
    --w:100%;
    --sw: 2px 2px 12px gray;
    --h:700px;
    --btn: darkcyan;
    --clr:turquoise;
    --bdr:1px solid gray;
    --midwi:1000px;

}

/* /------------header--------------------------------- */
.main
{
/* background-color:aquamarine; */
height:295px;;
width: var(--w);
/* border:1px solid gray; */

}

.main>header
{
    box-shadow: 2px 2px 15px black;

    /* border:1px solid gray; */
    height: 150px;
    
}
.main>header>img
{    float: left;
    /* border: 1px solid gray; */
    height: 132px;
    width: 200px;
    margin-left: 74px;
}

.bird
{
    /* border:var(--bdr); */
    height:120px;
    margin-top: 10px;;
    width:535px;
    float: left;
    position:relative;
}
.main>header>.about
{
    float:right;
    /* border:1px solid gray; */
    display: flex;

    height:53px;
    list-style-type: none;
   
    background-color: var(--clr);
    width:700px;
}
.main>header>.about>li
{
    /* border:1px solid gray; */
    line-height: 53px;
    transition-duration: 500ms;;
    flex: 1;
}


.main>header>.about>li>a
{
    text-decoration: none;
    font-size: x-large;
    display: block;
    text-align: center;
    
    
}
.main>header>.about>li:hover
{
    transform: scale(1.1,1.1);
    background-color:aqua;
}

.main>header>.about>li>input
{
    height:30px;
    width:200px;
}

/* ----------------------------social------------------------- */


.social
{
    float: right;
    margin-right: -701px;
    margin-top: 91px;
    line-height: 50px;
    /* border: 1px solid gray; */
    box-sizing: border-box;
    height: 59px;
    width: 500px;
    display: flex;
    list-style-type: none;


}

.social>li
{
    flex:1;
    /* border:1px solid gray; */
    padding-top:15px;
    padding-left:25px;
    
}


.social>li>a>i
{
    transition-duration: 500ms;
    
}
.social>li>a>i:hover
{
    box-shadow: 10px 10px 15px gray;
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    
    
}



/* ----------------------------------------navbar-------------------------------- */
.main>nav
{
    height:27px;
    display:flex;
    /* border:1px solid gray; */
    box-sizing:border-box; 
    background-color:var(--clr) ;   
}

.main>nav>ul
{
    display:flex;
    /* border:1px solid gray; */
    list-style-type: none;
    width:100%;
    height:40px;
}
.main>nav>ul>li
{
    flex:1;
    /* border:1px solid gray; */
    line-height:40px;
}
.main>nav>ul>li>a
{
    display: block;
    /*  */
    /* background-color: red; */
    text-align: center;
    text-decoration: none;
    background-color: var(--clr);
    font-size:xx-large;
    transition-duration: 500ms;
    color:white;
}
.main>nav>ul>li>a:hover
{
    transform: scale(1.1,1.1);
    background-color: aqua;
    transition-duration: 1000ms;

    border:2px solid gray;
    /* border-radius:10px; */
    font-family: cursive;
}



/* -------------------background------------------------- */


.background
{

    height: 502px;
    border-top:2px solid var(--btn);
    width: var(--bdr);
    background-image: url(../image/contact/back.jpg);
    /* border: var(--bdr); */
    background-size: cover;
    
}


.background>h1
{
    margin-left: 400px;
    margin-top: 200px;
    border: var;
    border: 20px solid gray;
    height: 100px;
    font-size: 50px;
    background: filter;
    width: 483px;
    padding-left: 177px;
    filter: drop-shadow(2px 4px 6px black);}

/* ---------------------middiv-------------------- */

.middiv
{
    height:600px;
    width:1000px;

    /* border:var(--bdr); */
    margin-top:100px;
    display: flex;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px gray;
}
.middiv>section
{
    flex:1;
    /* border:var(--bdr); */
    height:600px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px gray;

    
}
.middiv>section>img
{
    height: 579px;
    width: 497px;
    box-sizing: border-box;
    border: 24px solid lightgray;
    margin: 10px;
}

.middiv>section>h1
{
    font-size:30px;
    margin-top:20px;
    align-items: center;
    margin-bottom:20px;
    font-weight:bold;
    margin-left:20px;

}

.middiv>section>p
{
    font-size:15px;
    margin:10px;
    margin-left:20px;
}

/* ----------------------------contact------------------------------------ */


.contact
{

height:600px;
margin-top:100px;
margin-bottom:100px;
width:var(--w);
display: flex;
/* border:var(--bdr); */
background-color: rgb(255, 247, 247);


}
.contact>section
{
    flex:1;
    height:600px;
    box-sizing: border-box;
    /* border:var(--bdr); */
    align-items: cente;
    padding-left: 200px;
    padding-top: 200px;
}

.myicon 
{
    height:60px;
    width: 60px;
    padding-top:10px;
    padding-left:10px;
    border:var(--bdr);
    border-radius: 45px;

}
h1
{
font-size: 30px;
font-weight: 900;
margin-bottom: 20px;;
}
.contact>section>p
{
    font-size: xx-large;
}

/* ---------------------------polices--------------------- */



.polices
{
    height:400px;
    width: 1000px;
    /* border: var(--bdr); */

}

.polices>section
{
    height:70px;
    /* width: 9009x; */
    padding:20px;
    border: var(--bdr);
    margin:10px;
    overflow: hidden;
    box-sizing: border-box;
    
    transition-duration:1s ;

}
.polices>section:hover
{
    height:200px;
    /* width: 9009x; */
    padding:20px;
    border: var(--bdr);
    margin:10px;
    overflow: hidden;
    transition:all;
    transition-duration:1s ;
   cursor: pointer;
   background-color: lightblue;
   box-shadow: 1px 1px 2px gray;
   filter: drop-shadow(2px 4px 6px black);
}

.polices>section>ul>li
{
    font-size: xx-large;
    margin:15px;
}

.angledown
{
    height:30px;
    width:30px;
    margin-left: 20px;;
    border:var(--bdr);
    padding-left: 6px;;
    border-radius: 45px;

}

    

/* ------------------------------------foooter----------------------------------- */



.footer
{    height: 250px;
    margin-bottom: -193px;
    width: var(--w);
    /* border: var(--bdr); */
    display: flex;
    background-color: rgb(66, 61, 61);
}
.footer>div>h1
{
    font-size: 30px;
    font-family: cursive;
    color: var(--clr);
    align-items: center;
    margin-left:100px;
}
.footer>div
{
    flex: 1;
    margin-top: 36px;
    /* border: var(--bdr); */
    height: 214px;

}
.footer>div>section
{
    /* border:var(--bdr); */

    padding:10px;


}

.footer>div>section>ul
{
    list-style-type: none;
    display:flex;
    /* border:var(--bdr); */
    height:100px;
    margin:10px;
}

.footer>div>section>ul>li
{
    /* border:var(--bdr); */
    margin:10px;
    
    flex:1;

}
.footer>div>section>ul>li>a>img
{
    height:78px;
    width:132px;
    transition-duration: 500ms;;
}
.footer>div>section>ul>li>a>img:hover
{
    transform: scale(1.2,1.2);
    transition-duration: 1s;
}
.footeremail
{
    margin-top: 165px;
    margin-bottom: -64px;

}
.footeremail>h1
{
    align-items: center;
    font-size: 20px;

    color:whitesmoke;
    background-color:rgb(66, 61, 61);
    padding-left:500px ;
    margin-top: -50px;;
}








